﻿@{
    ViewBag.Title = "Home Page";
}

@model FizzBuzzDemo.Web.Models.FizzBuzzModel
<hr />
<form id="FizzBuzz" method="post" style="padding-top:15px;">
    <div class="row">
        <div>
            <table>
                <tr>
                    <td>@Html.Label("Enter a Number to check FizzBuzz:")</td>

                    <td>@Html.TextBoxFor(m => m.Number)</td>

                    <td>
                        <span style="color:red">@Html.ValidationMessageFor(m => m.Number)</span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row" style="padding-top:15px;">
        <div class="col-xs-1"><input type="submit" name="Submit" value="Submit" /></div>
    </div>

    @if (Model.Number > 0 && Model.records != null)
    {
        <table class="table table-bordered table-hover table-striped">
            <thead>
                <tr><th colspan="10">Result</th></tr>
            </thead>
            <tbody>

                @foreach (var number in Model.records)
                {

                    <tr>
                        <td class="@number">

                            @if (number.Contains("Fizz") || number.Contains("Wizz"))
                            {
                                <span style="color:blue;">
                                    @number
                                </span>
                            }

                            else if (number.Contains("Buzz") || number.Contains("Wuzz"))
                            {
                                <span style="color:green;">
                                    @number
                                </span>
                            }
                            else
                            {
                                @number
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    }
    <br />

</form>
